.main {
    width: 50%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    border:#85142d solid 1px;
    border-top-width: 40px;
    border-radius: 5px;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 10px;
    padding-top: 3px;
    background-color: white;
  }  

  #response { 
    color: green;
    font-size: 19px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight:700;
    }

    .container {
        margin-top: 10px;
    }

    tr{
      text-align: left;
      padding: 6px;
    }

    td{
      width:50%;
      padding: 6px;
    }

    td input{
      width: 100%;
    }

    td select{
      width: 100%;
    }

    .btn-color {
      
      font-size: 1.5em;
      color: black;
      background-color: #d1c156;
      height: 2.5em;
      width: 6.75em;

      position: relative;
      right: 65px;
  }
  
  .btn-color:hover {
      background-color: #86c7ba;
      border: none;
  }

  
